{% extends 'Quiz/dependencies.html' %}
{% block content %}
{% load static %}
<h1 style="text-align: center;">Witaj na platformie QuizDash</h1>
<br>
<h3 style="text-align: center;">Wybierz kategorie, w której czujesz się dobrze:</h3>
    <a class="nav-link" href="{% url 'maths' %}">Matematyka</a>
    <a class="nav-link" href="{% url 'physics' %}">Fizyka</a>
    <a class="nav-link" href="{% url 'history' %}">Historia</a>
    <a class="nav-link" href="{% url 'informatics' %}">Informatyka</a>
{% endblock %}